body{
    font-family:'Roboto Condensed', sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100vh;
    background: rgb(38,45,41);
    background: linear-gradient(90deg, rgba(38,45,41,1) 7%, rgba(54,94,84,1) 42%, rgba(40,209,209,1) 100%);
}

main{
    background: rgb(28, 31, 29);
    background: linear-gradient(90deg, rgba(28, 31, 29) 7%, rgb(44, 71, 65) 42%, rgb(38, 161, 161) 100%);
    padding: 100px;
    justify-content: center;
    width: auto;
    height: 800px;
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

main.container{
    display: flex;
    justify-content: space-evenly;
}

div.titulo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

h1.projetos{
    color: rgb(255, 255, 255);
    font-size: 35px;
    width: 400px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    transition: ease-in-out 0.5s ;
}

h1.projetos:hover{
    color: rgb(24, 216, 216);
    border-color: rgb(24, 216, 216);
    transform: matrix(1.1);
}

p{
    color: #ffffff;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 18px;
    background-color: #1f1f1f;
    border-radius: 10px;
    line-height: 2em;
    text-decoration: underline;
    margin-top: 15px;
    gap: 2em;
    transition: ease-in-out 0.5s ;
}

p:hover{
    transform: scale(1.1);
}

a{
    color: #ffffff;
    justify-content: center;
}

header{
    margin: 10px;
}

header a{
    font-size: 16px;
    transition: 0.3s ease-in-out ;
}

header a:hover{
    color: rgb(4, 255, 255);
}

ul.menu{
    display: flex;
    justify-content: space-between;
}

li.home{
    width: 90px;
    display: block;
    text-align: center;
}

li.contato{
    width: 90px;
    display: block;
    text-align: center;
}

    header li{
        margin: 20px;
    }

ul.menu a{
    font-size: 16px;
    transition: 0.3s ease-in-out ;
}

ul a:hover{
    color: rgb(4, 255, 255);
}

header li{
        transition: 0.3s ease-in-out;
        padding: 10px;
        border-style: solid;
        border-color: #ffffff;
        border-radius: 20px;
}

header li.home:hover{
    transform: scale(1.2);
    border-color: rgb(27, 189, 189);
}

header li.contato:hover{
    transform: scale(1.2);
    border-color: rgba(54,94,84,1);
}

ul img{
    background-color: aqua;
    width: 500px;
}

li img{
    transition: ease-in-out 0.5s;
    border-radius: 10px;
}

main li{
    padding-top: 20px;
}

li img:hover{
    transform: scale(1.1);
}

ul.conteudo{
    display: flex;
    justify-content: center;
    gap: 2em 2em;
    box-sizing: border-box;
    border-style: solid;
    padding: 10px;
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    border-color: #ffffff;
    transition: ease-in-out 0.5s;
}

ul.conteudo:hover{
    transform: matrix(1.1);
    border-color: rgb(24, 216, 216);
}

ul p{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:896px) {
    #menu{
        justify-content: space-evenly;
        padding-left: 50px;
        padding-right: 50px;
    }

    .lucas{
        width: 200px;
        margin-left: 30px;
        margin-top: -60px;
    }

    .sobre_mim{
        font-size: 15px;
    }

    .formacao{
        font-size: 15px;
    }

    .qualificacoes{
        font-size: 15px;
    }

    #sobre_mim{
        font-size: 18px;
    }

    #formacao{
        font-size: 18px;
    }

    #qualificacoes{
        font-size: 18px;
    }

    .fernandez{
        font-size: 30px;
    }

    .fronte-end{
        font-size: 22px;
    }

    .github{
        width: 30px;
        height: 30px;
    }

    .linkedin{
        width: 30px;
        height: 30px;
    }

    .insta{
        width: 30px;
        height: 30px;
    }

    .icones{
        display: flex;
        justify-content: space-evenly;
    }

    .container_corpo{
        height: 650px;
        width: 370px;
        margin: 0 auto;
        margin-top: -50px;
        padding: 2px;
    }
    }


@media screen and (max-width:375px) {
    #menu{
        display: contents;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .titulo{
        width: 180px;
        margin: 0 auto;
    }

    .sobre_mim{
        font-size: 12px;
    }

    .formacao{
        font-size: 12px;
    }

    .qualificacoes{
        font-size: 12px;
    }

    #sobre_mim{
        font-size: 13px;
    }

    #formacao{
        font-size: 13px;
    }

    #qualificacoes{
        font-size: 13px;
    }

    .projetos{
        font-size: 23px;
    }

    .fronte-end{
        font-size: 16px;
    }

    .github{
        width: 20px;
        height: 20px;
    }

    .linkedin{
        width: 20px;
        height: 20px;
    }

    .insta{
        width: 20px;
        height: 20px;
    }

    .icones{
        display: flex;
        justify-content: space-evenly;
        margin-right: 20px;
    }

    .container_corpo{
        height: 550px;
        width: 280px;
        margin-left: 45px;
        margin-top: -50px;
        padding: 2px;
    }
}

@media screen and (max-width:320px) {
    #menu{
        display: contents;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .titulo{
        width: 180px;
        margin: 0 auto;
    }

    .sobre_mim{
        font-size: 12px;
    }

    .formacao{
        font-size: 12px;
    }

    .qualificacoes{
        font-size: 12px;
    }

    #sobre_mim{
        font-size: 13px;
    }

    #formacao{
        font-size: 13px;
    }

    #qualificacoes{
        font-size: 13px;
    }

    .projetos{
        font-size: 23px;
    }

    .fronte-end{
        font-size: 16px;
    }

    .github{
        width: 20px;
        height: 20px;
    }

    .linkedin{
        width: 20px;
        height: 20px;
    }

    .insta{
        width: 20px;
        height: 20px;
    }

    .icones{
        display: flex;
        justify-content: space-evenly;
        margin-right: 20px;
    }

    .conteudo{
        display: block;
        flex-direction: column;
        width: 260px;
        height: 22000px;
    }

    .the{
        width: 220px;
    }

    .pok{
        width: 220px;
    }

    #container{
        height: 800px;
        width: 260px;
        display: block;
        justify-content: center;
        margin: 0 auto;

        padding: 2px;
    }

    .container{
        height: 550px;
        width: 260px;
        display: block;
        justify-content: center;
        margin: 0 auto;
        
        padding: 2px;
    }

}